@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {

    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    background-color: #82D9A0;
    }
header {
    font-family: Arial, Helvetica, sans-serif;
    color:  #F2F2F2;
    text-align: center;
    background-image: linear-gradient(to top, #1B5936, #82D9A0 );
    }
h1 {
    color:#F2F2F2;
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    font-size: 5px;
    }

    #curiosidade {
        font-family:'idroid',  Arial, Helvetica, sans-serif;
    }
#informativo {
     color: #F2F2F2;
     text-align: center;
     font-size: 14px;
    }
#artigo {
    font-family: Arial, Helvetica, sans-serif;
    color: #F2F2F2;
    font-size: 20px;
    text-align: left;
    padding: 8px;
    margin-left:8px;
    }
a {
    color: #F2F2F2;
    text-decoration: none;
}

main {     
    background-color: #F2F2F2;
    width: 800px;
    padding: 10px;
    margin: auto;
    text-align: left;    
    }

h2 {
    font-family:'idroid',  Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #1b593680, #82D9A0 );
    color: #1A5C37;
    text-align: left;
}

p {
    color:#0a0a0a;
    text-align: justify;
    text-indent: 30px;
}
#bugdroid {
   text-align: center;
    
}
aside {
    background-color:rgba(20, 255, 177, 0.349);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.477);
}
aside > h3 {
    background-color: var(--cor4);
    color: white;
    font-weight: bolder;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul {
    list-style-type: '\2714\00a0';
    list-style-position: inside;
    columns: 2;
}
footer{
    background-image: linear-gradient(to right, #1b593680, #82D9A0 );
  
}
#oldpags{
    text-align: center;
    background-color: #1A5C37;
    color: #F2F2F2;
    font-size: 14;
}
#saber {
    font-family: Arial, Helvetica, sans-serif;
    color: #F2F2F2;
    background-color: #1A5C37;

}
footer {
    background-color: var(--cor5);
    color:white;
    text-align: center;
    font-size: 0.8em;
    padding: 1.5px;
}footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: #2fa866;
}
