@charset "UTF-8";
body {
    font-family: Arial, Helvetica, sans-serif;
}
table {
    border: 5px solid black;
    border-collapse: collapse;
}
thead {
    background-color: grey;
    color: white;
}
th {
    text-align: center;
    border: 5px solid black;
    padding: 10px;
}
td {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
td.est{
    text-align: center;/*alinhamento horizontal*/
    vertical-align: middle;/*alinhamento vertical*/
    color: blue;
}
td.num {
    text-align: right;
}
td.mud {
    color: green;
}
td.pais {
    text-align: center;/*alinhamento horizontal*/
    vertical-align: middle;/*alinhamento vertical*/
    color: blue;
}
tfoot {
    background-color: grey;
    border: 5px solid black;
    color: white;
}